<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDbOrmvkWEWrs5_ZTVa4zGDCbE4BYYsxgo</string>
	<key>GCM_SENDER_ID</key>
	<string>1016437152914</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ivanburda.feelingstracker</string>
	<key>PROJECT_ID</key>
	<string>feelings-tracker-application</string>
	<key>STORAGE_BUCKET</key>
	<string>feelings-tracker-application.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1016437152914:ios:1c5a34824c424b5ee19a4b</string>
</dict>
</plist>